/* General Settings */

.no-gutters {
    margin-right: 0;
    margin-left: 0;
 }
 .no-gutters >.col,
 .no-gutters > [class^="col-"],
 .no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
 }


  * {
    margin: 0;
    padding: 0;
}

/* SIDEBAR Settings */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #242b2e;
    color: #fff;
    transition: all .3s;
}

#sidebar.active {
    margin-left: -250px;
}

.navbar-brand {
    width: 100%;
    background-color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar {
    padding: 0;

}

.main-menu {
    width: 100%;

}

.main-menu .nav-item {
    text-align: right;
    border-bottom: 1px solid #293034;
}

.main-menu .nav-item a {
    background-color: #31383c;
    color: #fff;
    font-weight: 300;
}

.main-menu .nav-item a:hover {
    background-color: #2db8b7;
    transition: .5s;
}

.sidebar-heading {
    width: 100%;
    text-align: right;
    padding-right: 15px;
}

.sidebar-heading span {
    font-size: 16px;
    font-weight: 100;
    padding-right: 5px;
    line-height: 16px;
    vertical-align: bottom;
}

.works-menu {
    width: 100%;
}

.works-menu .nav-item {
    text-align: right;
    padding: 0;
}

.works-menu .nav-item a {
    color: #6b7072;
    font-size: 13px;
    padding-top:0;
    padding-bottom: 0px;
}

.works-menu .nav-item a:hover {
    color: #fff;
}

.social-icons {
    width: 100%;
}

.social-icons ul {
    list-style-type: none;
    padding-right: 15px;
    padding-top: 20px;
    border-top: 1px solid #293034;
}

.social-icons li {
    float: right;
    margin-left: 8px;
    margin-top: 30px;
}

.copyright {
    width: 100%;
    text-align: right;
    font-size: 13px;
    color: #6b7072;
    padding-right: 15px;
}

/* Page Content */

#content {
    width: 100%;
}

.btn-info {
    border-radius: 0;
    background-color:#1ab5b3;
    position: fixed;
    z-index: 5;
    opacity: .7;
}

.container-fluid {
    padding: 0;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #2db8b7;
    cursor: pointer;
    transition: all .5s;
}

.overlay-container:hover .overlay {
    opacity: .7;
}

.text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: auto;
}

.overlay-border {
    width: 50%;
    border: 1px solid #fff;
    margin: 0 auto;
    opacity: .7;
    margin-bottom: 15px;
}

.project-title {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.project-area {
    font-size: 12px;
}

.btn-info2 {
    border-radius:0;
    background-color: #1ab5b3;
    position: fixed;
    top: 0;
    right: 0;
    opacity: .7;
}

.btn-info2 i {
    color: #fff;
}

#sidebar2 .fas {
    margin-right: 8px;
}

#sidebar2 {
    min-width: 200px;
    max-width: 200px;
    background-color: rgba(0,0,0, .7);
    padding: 10px;
    position: fixed;
    top: 36px;
    right: -200px;
    z-index: 10;
    transition: all .3s;
}

#sidebar2.active {
    right: 0;
}


.info-text {
    color: #fff;
    font-size: 13px;
    margin-bottom: 5px;
}






















/* MEDIA QUERIES */

@media (max-width:768px) {
    #sidebar {
        margin-left: -250px;
    }
    
    #sidebar.active {
        margin-left: 0;
    }
}

